---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Pribadi",
    price: "Free",
    popular: false,
    features: [
      "Gratis Selamanya",
      "Data Nerca Pangan",
      "Statistik Harga",
      "Fitur Peringatan",
      "Layanan Database",
      "Dukungan Pelanggan",
    ],
    button: {
      text: "Daftar",
      link: "/",
    },
  },
  {
    name: "Petani",
    price: {
      monthly: "Rp150.000",
      annual: "Rp 500.000",
      discount: "10%",
      original: "$Rp 150.000",
    },
    popular: true,
    features: [
      "Semua Fitur 'Pribadi' ",
      "Sharing 10 Users",
      "Comparasi Pasar Saham",
      "Prediksi Pergerakan Harga",
      "Integrasi AI",
      "Surga",
    ],
    button: {
      text: "Beli/Coba Gratis",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "Surya 2 Bungkus",
      "L.A Bold 1 Bungkus",
      "Kopi 3 Bungkus",
      "Wader 5 Ekor",
      "Lalapan 2 Piring",
      "Martabak 3 Kotak",
    ],
    button: {
      text: "Hubungi Dokter",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
