---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Kemudahan Akses",
    description:
      "Jelajahi ekosistem data secara menyeluruh melalui aplikasi website maupun mobile app.",
    icon: "bx:bxs-key",
  },
  {
    title: "Kecepatan Informasi",
    description:
      "Terima peringatan instan tentang perubahan harga dan tren pasar yang penting.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Ketepatan Data",
    description:
      "Kami menggunakan sumber data terpercaya dan bekerjasama dengan API Pemerintah.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Integrasi AI",
    description:
      "Plugins kecerdasan buatan (AI) hadir untuk membantu para pelaku bisnis pasar pangan dalam menganalisis pasar dan membuat keputusan yang lebih tepat.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Coba Gratis",
    description:
      "Memungkinkan Anda untuk merasakan sendiri manfaat dan keunggulannya sebelum Anda memutuskan untuk berlangganan.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Kiamat? Kami Tetap Jalan!",
    description:
      "Server dan Layanan data dan support pelanggan kami yang selalu tersedia, bahkan dihari Kiamat",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 id="id" class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Jalankan usaha Anda dengan Integrasi Data
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Solusi ideal untuk pedagang pasar, distributor, pengecer, dan perusahaan agribisnis lainnya. Dengan fitur kuat dan mudah digunakan, 
    PasarKu dapat membantu Anda mengelola bisnis pasar pangan dengan lebih mudah, efisien, dan menguntungkan.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
